.otr {
    box-sizing: border-box;
    display: block;
    background: linear-gradient(90deg ,#000000 0%,#dd0d0d);
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    padding: 9px;
    width: auto;
    border: 1px solid red;
}

.otr:hover {
    box-sizing: border-box;
    background: linear-gradient(90deg ,#dd0d0d 0%,#000000);
    color: white;
    border: 2px solid black;

}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;    
}