* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    box-sizing: border-box;
}
:root {
    --rojo: #ff3b3b;
    --verde: #06c270;
    --azul: #6698ff;
    --amarillo: yellow;
    --naranja: orange;
    --celeste: #3498DB;
    --rosa: #ff5c5c;
    --blanco: white;
    --negro: black;
    --gris: gray;
}

/* Scrollbar Personalizado */
::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    background: var(--rojo);
    border-radius: 4px;
}
/* Scrollbar Personalizado */

/* Generales */
button, select {
    cursor: pointer;
    text-align: center;
}

/* Header */
header {
    background-image: url(../../img/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10vh 0 20px 0;
    box-shadow: inset 0 -10px 50px var(--negro);
}
#logo  {
    position: relative;
    height: 20vh;
    top: -5vh;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 40px var(--negro)); 
}
#navegacion {
    margin: 0 auto;
    background-color: var(--rojo);
    max-width: max-content;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--negro);
}
#navegacion button {
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--blanco);
    border-radius: 5px;
    background-color: var(--blanco);
    color: var(--rojo);
    font-size: medium;
    text-align: center;
    font-weight: bold;
    transition: 0.25s;
}
#navegacion #btn-chifa {
    border: 1px solid var(--blanco);
    background-color: var(--rojo);
    color: var(--blanco);
}
#hr-header {
    border: 2px solid var(--rojo);
}
form {
    max-width: 1024px;
    margin: auto;
}
form div {
    overflow-x: scroll;
    transition: all 0.3s;
}
form div h3 {
    margin-left: 20px;
    padding: 5px 20px 10px;
    border-radius: 0 0 20px 20px;
    background-color: var(--rojo);
    color: var(--blanco);
    width: max-content;
}
form div table {
    margin: 20px;
    width: calc(100% - 40px);
}
form div table thead tr td {
    padding: 5px 10px;
    text-align: center;
    background-color: var(--rojo);
    color: var(--blanco);
    border-radius: 5px;
}
form div table tbody tr td {
    padding: 5px 10px;
}
form div table tbody tr td img {
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 5px var(--gris);
    image-rendering: optimizeSpeed;
}
form div table tbody tr td .precio {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 5px 10px;
    border: 1px solid var(--azul);
    border-radius: 25px;
    width: max-content;
}
form div table tbody tr td select {
    padding: 5px 10px;
    font-size: medium;
    border-radius: 25px;
    border: 1px solid var(--rojo);
    background-color: var(--blanco);
    color: var(--rojo);
}

/* Botón estático de ordenar */
#ordenar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    overflow: unset;
    user-select: none;
}
#ordenar button, #ordenar span {
    background-color: var(--verde);
    border: 2px solid var(--blanco);
    border-radius: 25px;
    color: var(--blanco);
    font-size: medium;
    padding: 10px 20px;
    box-shadow: 0 0 40px var(--negro);
    cursor: pointer;
    display: none;
}
#ordenar .reset {
    background-color: var(--rojo);
}

/* Efecto Toggle */
#chifa {
    display: block;
}
#burguer, #bebidas {
    display: none;
}

/* Platos elegidos */
#elegidos {
    display: none;
}
#elegidos hr {
    margin: 20px auto 0;
    border: 2px solid var(--verde);
    width: 75%;
    border-radius: 5px;
}
#elegidos h3 {
    margin: auto;
    background-color: var(--verde);
}
#elegidos table thead tr td {
    background-color: var(--verde);
}
#elegidos table tbody tr .precio {
    background-color: var(--azul);
    border-color: var(--azul)
}
#elegidos table tbody tr .delete {
    padding: 5px 10px;
    width: max-content;
    background-color: var(--rojo);
    border: 1px solid var(--rojo);
    color: var(--blanco);
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}
@media (max-width: 720px) {
    td,
    form div table tbody tr td select,
    #ordenar button,
    form div table tbody tr td .precio,
    #navegacion button {
        font-size: small;
    }
    h3 {
        font-size: medium;
    }
    form div table {
        margin: 5px;
        margin-top: 20px;
        width: calc(100% - 10px);
    }
    form div h3 {
        margin-left: 5px;
    }
}